@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

html,
body {
  height: 100%;
  width: 100%;
}
input {
  font-size: 0.8rem !important;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #aaa !important;
}
:-moz-placeholder {
  font-style: italic;
  color: #aaa !important;
}
::-moz-placeholder {
  font-style: italic;
  color: #aaa !important;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #aaa !important;
}
.timeline {
  padding-left: 30px;
}
.chat-messages {
  max-height: 500px !important;
}
* {
  margin: 0;
  padding: 0;
}
.principal td {
  border-top-width: 3px;
}
.form-control.is-danger {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  background-image: linear-gradient(to top, #f00 2px, rgba(156, 39, 176, 0) 2px),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.registeredTabs {
  border: 3px solid #d5d5d5;
  width: 50%;
  margin: 25px auto 60px auto;
  position: relative;
}
.registeredTabs a {
  display: block;
  width: 30px;
  height: 30px;
  border: 6px solid #d5d5d5;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  background: #fff;
  margin-left: -15px;
}
.registeredTabs a:nth-child(3n + 1) {
  left: 0;
}
.registeredTabs a:nth-child(3n + 2) {
  left: 50%;
}
.registeredTabs a:nth-child(3n + 3) {
  left: 100%;
}
.registeredTabs a.current {
  background: #d80300;
}
.registeredTabs a small {
  display: block;
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 150%;
}
.registeredTabs a.current small {
  color: #d80300;
}
.no-sort:before,
.no-sort:after {
  display: none !important;
}
.input-group-append,
.input-group-append .btn {
  width: 100px;
}
.cursorPointer {
  cursor: pointer;
}
.deleteBtn {
  display: inline-block;
}
.accordion .card > .card-header {
  cursor: pointer;
  position: relative;
}
.accordion .card > .card-header > i {
  position: absolute;
  right: 10px;
  top: 50%;
}
.accordion .card > .card-header > i.fa-angle-up {
  display: block;
}
.accordion .card > .card-header > i.fa-angle-down {
  display: none;
}
.accordion .card > .card-header.collapsed > i.fa-angle-up {
  display: none;
}
.accordion .card > .card-header.collapsed > i.fa-angle-down {
  display: block;
}
.select2-results__option {
  text-transform: capitalize;
}
.select2-container--bootstrap4
  .select2-selection--single
  .select2-selection__rendered {
  text-transform: capitalize;
}
.htCore > tbody > tr > td.htDisabled:before {
  content: "Disabled";
  font-style: italic;
}
.handsontable .htCore td.htInvalid {
  background-color: #f17878 !important;
}
.handsontable .htAutocompleteArrow {
  color: #555 !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.dropdown-toggle::after {
  margin-left: 0.5em;
}
.dropdown-menu.show {
  max-height: 300px;
  overflow-y: scroll;
}
.countryCode {
  background: rgba(0, 0, 0, 0);
  border: 0;
  width: 40px;
  color: #fff;
  text-align: center;
}
.toast-top-center {
  top: 20px;
}
.accSub {
  border: 1px solid #0001 !important;
}
.iti--separate-dial-code {
  width: 100%;
}
.handsontable thead th.ht__highlight,
.handsontable thead th.ht__active_highlight {
  color: #000 !important;
}
.handsontable span.colHeader {
  font-weight: bold !important;
}
.wizard .step-content#arrows-primary-step-2 {
  padding: 1.25rem 0 !important;
}

.handsontable thead th,
.handsontable thead th.ht__active_highlight {
  background-color: #696969;
  color: #fff;
}

.handsontable tbody th,
.handsontable tbody th.ht__active_highlight {
  background-color: #fff !important;
}

#text-error {
  color: #ff4c42;
}

.content-step-2 .table-responsive th:nth-child(1),
.content-step-2 .table-responsive td:nth-child(1),
.content-step-2 .handsontable thead th:nth-child(1),
.content-step-2 .handsontable thead td:nth-child(1) {
  min-width: 50px;
}

.table-responsive th,
.table-responsive td,
.handsontable th,
.handsontable td {
  min-width: 250px;
  padding: 0;
  vertical-align: middle !important;
  text-align: center;
  height: 30px !important;
}
table.dataTable > tbody > tr.child {
  text-align: left;
}
.content-step-2 .table-responsive {
  height: 200px;
}

.btnInSmartwizard {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
}
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before {
  top: 50%;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #999;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child::before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child::before {
  background-color: #a20000;
}

.custom-switch .custom-control-input:checked + .custom-control-label:before {
  background-color: #5fc27e !important;
  border: 1px solid #5fc27e !important;
}
.noauthFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}
.handsontable.listbox td {
  font-size: 12px;
  /*white-space: unset !important;*/
}

.clearBoth:after {
  content: "";
  clear: both;
  display: table;
}
/* .handsontable.listbox,
.ht_master .wtHolder {
  height: auto !important;
}
.handsontable {
  overflow: auto !important;
} */
